<div style="height: 200px; width: 400px; " id="treeStructure">
  <ng-template [ngIf]="!treeViewData">
    <div class="error">
    <img src="/assets/images/warning.png"/>
        Tree Data is empty
    </div>
  </ng-template>
  <ng-template [ngIf]="treeViewData && treeViewData.length==0">
      <div class="warning">
    <img src="/assets/images/warning.png"/>
       Tree Data has no node
    </div>
    
  </ng-template>
  <tree-root id="tree" [focused]="true" [nodes]="treeViewData">
    <template #treeNodeTemplate let-node let-index="index">
      <span [class]="node.data.className + 'Index'"></span>
      <span [class]="node.data.className" [class.name]="true">{{ node.data.name }}</span>
    </template>
    <template #loadingTemplate let-node>
      <div [class]="node.data.className + 'Loading'">Loading {{ node.data.name }}...</div>
    </template>
  </tree-root>
</div>